/*
    Authors : Gaël

*/

form {
	max-width: 500px;
	min-width: 50px;
}
.container {
	max-width: 100%;
	min-width: 50px;	
}

.footer {
    text-align : center;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.navbar {
  margin-bottom: 20px;
}
